//- head.pug
head
    // views/includes/head.pug 
    title= title
    link(rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/styles.css")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
