//- navbar.pug
//[ /views/includes/navbar.pug ]
nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded-bottom
    a.navbar-brand(href="#")
        img.d-inline-block.align-top(src="/images/pug_logo.svg" width="40" alt="pug logo")
    ul.navbar-nav.mr-auto
        li.nav-item: a.nav-link(href="/") Home
        li.nav-item: a.nav-link(href="/account") Account
        li.nav-item: a.nav-link(href="/products") Products
        li.nav-item: a.nav-link(href="/services") Services
        li.nav-item: a.nav-link(href="/contact") Contact Us
