//- account-detail.pug
include includes/doctype
html(lang="en")
    include includes/head
    body
        .container
            include includes/navbar
            h1.display-2 Account Detail
            h4= id
            hr
            include includes/footer