//- contact.pug
include includes/doctype
html(lang="en")
    include includes/head
    body
        .container
            h1.display-2 Contact Us
            form#form(role="form" class="form" method="POST")
                .form-group
                    input(type="text" class="form-control" id="name" name="name" placeholder="Name" value="Kanon Lo")
                .form-group
                    input(type="email" class="form-control" id="email" name="email" placeholder="Email" value="klo@jsls.com")
                .form-group
                    textarea(class="form-control" id="message" name="message" rows="4" placeholder="Message") Hello, World!
                button.btn.btn-primary(type="submit") Send
            include includes/footer