//- index.pug
include includes/doctype
html(lang="en")
    include includes/head
    body
        .container
            header.mb-4
                include includes/navbar
            main
                .jumbotron
                    h1.display-4= title
                    p.lead= message
                    hr.my-4
                    p Our <a href="#">support</a> experts are available to assist you 24x7. Get your questions answered in minutes.
                    p.lead: a.btn.btn-primary.btn-lg(href="#" role="button") Learn more
            include includes/footer